---
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const {
  profileAlt,
  profileLink,
  profileImage,
  profileName,
  profileTitle,
  email,
  emailIconName,
  github,
  timetableImage,
  timetableTitle,
  contactSectionButtonText,
} = staticData.data;
---

<section class="py-8 px-8 max-md:py-1 mb-4 scroll-m-16" id="timetable">
    <h1
        class="text-4xl font-black leading-24 text-blacktext dark:text-white items-center justify-center text-center"
        >
        {timetableTitle}
    </h1>
<div
    class="mx-auto mb-4 h-full w-full max-w-7xl rounded-2xl flex justify-center items-center max-md:h-auto">
        <div class="relative z-20 flex justify-center items-center w-200 mx-auto">
            <div
                class="w-full aspect-square bg-center bg-contain bg-no-repeat scale-110 transition-transform"
                style={`background-image: url(${timetableImage})`}
                aria-label={timetableImage}
            ></div>
        </div>
</div>
</section>