---
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const {
  profileAlt,
  profileLink,
  profileImage,
  profileName,
  profileTitle,
  email,
  emailIconName,
  github,
  timetableImage,
  timetableTitle,
  groupPhotoImage,
  contactSectionButtonText,
} = staticData.data;
---

<section class="mt-0 py-0 px-0 max-md:py-1 mb-0 scroll-m-16" id="group-photo">
  <div
    class="mx-auto mt-0 mb-0 h-100 w-full max-w-7xl rounded-2xl bg-linear-to-r p-[.2rem] max-md:h-auto">
        <div
            class="mx-auto mb-14 h-100 w-full max-w-7xl rounded-2xl flex justify-center items-center max-md:h-100">
                <div class="relative z-20 flex justify-center items-center w-100 mx-auto">
                    <div
                        class="mt-0 w-full aspect-square bg-center bg-contain bg-no-repeat scale-80 transition-transform"
                        style={`background-image: url(${groupPhotoImage})`}
                        aria-label={groupPhotoImage}
                    ></div>
                </div>
        </div>
    </div>    
</section>